<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnPhpunitDeprecations="true"
  backupGlobals="false" 
  bootstrap="phpunit.php" 
  colors="true" 
  failOnIncomplete="false" 
  failOnSkipped="false" 
  failOnRisky="false" 
  stopOnFailure="false"
  processIsolation="false" 
  cacheResult="true" 
  cacheResultFile=".phpunit.result.cache">
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Repository Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
